<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="home.css">
    <script type="text/javascript" src="home.js"></script>
    <title>Affirmation.today</title>
</head>

<body>
    <div class="date">

    </div>

<style>
  body{
    background-image: url();
  }
</style>

</body>

</html>
