doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    link(rel='stylesheet', type='text/css', href='stylesheets/home.css')
    link(rel="icon" type="image/png" sizes="192x192"  href="/favicon.png")
    meta(name='theme-color', content='#C9BA49')
    script(type='text/javascript', src='js/home.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-99003638-1', 'auto');
      ga('send', 'pageview');
    title Affirmation.today
  body
    .content
      p.date= date
      p.quote= quote
    .subscription
      span Interested in getting affirmations sent directly to you on Facebook Messenger? Tap the link above.
      a(href='https://www.messenger.com/t/1AffirmationToday/', target="_blank")
        img(class='messenger' src='/facebook-messenger-white.png', alt='')
