@mixin desktop
    @media only screen and (min-width: 1025px)
      @content

@mixin tablet
  @media only screen and (max-width: 1024px) and (min-width: 415px)
    @content

body
  font-family: 'Montserrat', sans-serif
  margin: 0 auto
  text-align: center

.content
  background-color: rgba(201, 186, 73, .75)
  position: fixed
  top: 30vh
  left: 0
  bottom: 0
  right: 0
  height: 26vh
  color: white
  padding-left: 5vw
  padding-right: 5vw
  padding-bottom: 3vh
  @include tablet
    height: 25vh
  @include desktop
    height: 32vh

.date
  font-size: 5vw
  @include desktop
    font-size: 2.2vw
  @include tablet
    font-size: 3vw


.quote
  font-size: 6vw
  @include desktop
    font-size: 3vw
  @include tablet
    font-size: 5vw

@keyframes rotate
  0%
    transform: scale(1,1)
  50%
    transform: scale(1.2,1.2)
  100%
    transform: scale(1,1)

.subscription
  span
    position: fixed
    bottom: -16vh
    width: 90vw
    left: 0vw
    background-color: #0084FF
    color: white
    padding-top: 3vh
    padding-bottom: 3vh
    padding-left: 5vw
    padding-right: 5vw
    transition: bottom .6s
    font-size: 4vw
    @include tablet
      font-size: 2.8vw
    @include desktop
      font-size: 1.4vw
  a
    img
      width: 16vw
      position: fixed
      left: 42vw
      bottom: -15vh
      transition: bottom 1s
      transition-delay: 2s
      transition-timing-function: ease-out
      animation-name: rotate
      animation-delay: 1s
      animation-duration: 2s
      animation-iteration-count: infinite
      @include tablet
        width: 16vw
        left: 42vw
      @include desktop
        width: 6vw
        left: 47vw

.hide-orientation
  background-color: black
  width: 100vw
  height: 100vh
  z-index: 1
  position: absolute
  img
    position: fixed
    top: 17vh
    width: 60vw
    left: 20vw

.display-none
  display: none
