body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  text-align: center; }

.content {
  background-color: rgba(201, 186, 73, 0.75);
  position: fixed;
  top: 30vh;
  left: 0;
  bottom: 0;
  right: 0;
  height: 26vh;
  color: white;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 3vh; }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .content {
      height: 25vh; } }
  @media only screen and (min-width: 1025px) {
    .content {
      height: 32vh; } }

.date {
  font-size: 5vw; }
  @media only screen and (min-width: 1025px) {
    .date {
      font-size: 2.2vw; } }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .date {
      font-size: 3vw; } }

.quote {
  font-size: 6vw; }
  @media only screen and (min-width: 1025px) {
    .quote {
      font-size: 3vw; } }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .quote {
      font-size: 5vw; } }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  50% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2); }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

@keyframes rotate {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  50% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2); }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

.subscription span {
  position: fixed;
  bottom: -16vh;
  width: 90vw;
  left: 0vw;
  background-color: #0084FF;
  color: white;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 5vw;
  padding-right: 5vw;
  -webkit-transition: bottom .6s;
  transition: bottom .6s;
  font-size: 4vw; }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .subscription span {
      font-size: 2.8vw; } }
  @media only screen and (min-width: 1025px) {
    .subscription span {
      font-size: 1.4vw; } }

.subscription a img {
  width: 16vw;
  position: fixed;
  left: 42vw;
  bottom: -15vh;
  -webkit-transition: bottom 1s;
  transition: bottom 1s;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .subscription a img {
      width: 16vw;
      left: 42vw; } }
  @media only screen and (min-width: 1025px) {
    .subscription a img {
      width: 6vw;
      left: 47vw; } }
