body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  text-align: center; }

.content {
  background-color: rgba(71, 71, 71, 0.8);
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 26vh;
  color: white;
  box-shadow: inset 0px 0px 22px 0px rgba(0, 0, 0, 0.75); }
  @media only screen and (max-width: 1024px) and (min-width: 414px) {
    .content {
      height: 34vh; } }
  @media only screen and (min-width: 1025px) {
    .content {
      height: 32vh; } }

.date {
  font-size: 5vw; }
  @media only screen and (min-width: 1025px) {
    .date {
      font-size: 2.2vw; } }
  @media only screen and (max-width: 1024px) and (min-width: 414px) {
    .date {
      font-size: 3vw; } }

.quote {
  font-size: 6vw; }
  @media only screen and (min-width: 1025px) {
    .quote {
      font-size: 3vw; } }
  @media only screen and (max-width: 1024px) and (min-width: 414px) {
    .quote {
      font-size: 5vw; } }
